



/* @brief  feuille de style
   @author Cyril SANTUNE
   @date   2015-10-16: création
   @date   2015-10-18: réindentation et mise à jour pour la colonne status du
           tableau résultat
   @date   2015-10-19: ajout d'un item pour les listes ul
*/




html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul,
ol, dl, address
{
  margin:        0;
  padding:       0;
}

body
{
  background:    #EEE; 
  font-family:   'Trebuchet MS', Arial;
  font-size:     14px;
  margin:        0px;
  padding:       0px;
}

span, div
{
  margin:        0px;
  padding:       0px;
}

h2
{
  text-align:    center;
  color:         #15428b;
}

form
{
  margin:        0;
  padding:       0;
  text-align:    left;
  margin:        3px;
  padding:       3px 3px 50px 3px;
  border-style:  groove;
  border-width:  thin;
  background:    #EEE;
  margin-bottom: 10px;
  margin-right:  0px;
  border:        none;
}

form fieldset {
  clear:         both;
  border-color:  #99BBE8;
  border-width:  1px;
  border-style:  solid;
  padding:       10px;
  margin:        0;
}

form fieldset legend
{
  overflow:     hidden;
  color:        #15428b;
  font:         bold 100% 'Trebuchet MS';
  padding:      2px 1px 1px 2px;
  border:       1px solid #99bbe8;
  line-height:  15px;
}

.css_ul_form
{
  padding-left: 15px;
}

/* pour les tableaux dans le formulaire */
.css_form_table
{
  font:          100% 'Trebuchet MS';
  border:        none;
  background:    #EEE; 
}



table td
{
  border-collapse: collapse;
  border:          none;
  border-spacing:  0;
  margin:          0;
  padding:         0;
}

/* le tableau utilisé pour afficher passed, failed, etc 
   ou les pourcentages */
.css_status_table, .percent_table
{
  border:          none;
  border-collapse: collapse;
  margin:          0;
  padding:         2;
}
.css_status_table td
{
  padding:         4;
}
.percent_table td
{
  padding:         3;
}

/* le tableau résultat */
.table_result
{
  font:            100% 'Trebuchet MS';
  color:           #000000;
  margin:          auto;
  border-collapse: collapse;
  border-top:      1px solid #000000;
  border-left:     1px solid #000000;
  border-right:    1px solid #000000;
  border-bottom:   1px solid #000000;
  padding:         5px 10px 5px 10px;
}
.table_result_td
{
  border-top:      1px solid #000000;
  border-left:     1px solid #000000;
  border-right:    1px solid #000000;
  border-bottom:   1px solid #000000;
  padding:         0px 2px 0px 2px;
}
/* pour la colonne status dans le tableau de résultat */
.table_result_td_status
{
  border-top:      1px solid #000000;
  border-left:     1px solid #000000;
  border-left:     none;
  border-right:    none;
  padding:         0px 2px 0px 2px;
}
.table_result_th
{
  font:          bold 100% 'Trebuchet MS';
  border-top:    1px solid #000000;
  border-left:   1px solid #000000;
  border-right:  1px solid #000000;
  border-bottom: 1px solid #000000;
  padding:       5px 10px 5px 10px;
}



.button
{
  font: bold 11px 'Trebuchet MS';
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
