



/* @brief   feuille de style
   @author  Cyril SANTUNE
   @version 1 (2015-10-16)
*/




html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address
{
	margin:0;
	padding:0;
}

body
{
	background:  	#EEE; 
	font-family: 	'Trebuchet MS', Arial;
	font-size: 		14px;
	margin:			0px;
	padding:		0px;
}

span, div
{
	margin: 		0px;
	padding:		0px;
}

h2
{
  text-align: center;
  color: #15428b;
}

form
{
  margin:        0;
  padding:       0;
	text-align: 	 left;
	margin: 		   3px;
	padding: 		   3px 3px 50px 3px;
	border-style:	 groove;
	border-width:	 thin;
  background:    #EEE;
  margin-bottom: 10px;
  margin-right:  0px;
  border:        none;
}

form fieldset {
  clear: both;
  border-color: #99BBE8;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  margin: 0;
}

form fieldset legend
{
  overflow:     hidden;
  color:        #15428b;
  font:         bold 100% 'Trebuchet MS';
  padding:      2px 1px 1px 2px;
  border:       1px solid #99bbe8;
  line-height:  15px;
}

table
{
  border: none;
  padding: 5px 10px 5px 10px;
}

table td
{
  border: none;
}

#cs_table_result
{
  font:   100% 'Trebuchet MS';
	color:  #000000;
  margin: auto;
  border-collapse:collapse;
  border-top:1px solid #000000;
  border-left:1px solid #000000;
  border-right:1px solid #000000;
  border-bottom:1px solid #000000;
  padding: 5px 10px 5px 10px;
}

#cs_table_result td
{
  border-top:1px solid #000000;
  border-left:1px solid #000000;
  border-right:1px solid #000000;
  border-bottom:1px solid #000000;
  padding: 5px 10px 5px 10px;
}

#cs_table_result th
{
  font:bold   100% 'Trebuchet MS';
  border-top:1px solid #000000;
  border-left:1px solid #000000;
  border-right:1px solid #000000;
  border-bottom:1px solid #000000;
  padding: 5px 10px 5px 10px;
}

table.cs_form_table
{
  font:  100% 'Trebuchet MS';
  border: none;
}

table.cs_form_table td
{
  font:  100% 'Trebuchet MS';
	background:  	#EEE; 
}
