


/* 

Feuille de style

2015-10-12(Cyril SANTUNE): ajout des couleurs pour les status
2015-10-08(Cyril SANTUNE): ajout d'une partie css pour la page changelog
2015-06-18(Cyril SANTUNE): réindentation et mise à jour pour la colonne status
du tableau résultat
2015-06-19(Cyril SANTUNE): ajout d'un item pour les listes ul
2015-06-16(Cyril SANTUNE): création

*/




html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul,
ol, dl, address
{
  margin:        0;
  padding:       0;
}

body
{
  background:    #EEE; 
  font-family:   'Trebuchet MS', Arial;
  font-size:     14px;
  margin:        0px;
  padding:       0px;
}

span, div
{
  margin:        0px;
  padding:       0px;
}
table td
{
  border-collapse: collapse;
  border:          none;
  border-spacing:  0;
  margin:          0;
  padding:         0;
}





/* form */

form
{
  margin:        0;
  padding:       0;
  text-align:    left;
  margin:        3px;
  padding:       3px 3px 50px 3px;
  border-style:  groove;
  border-width:  thin;
  background:    #EEE;
  margin-bottom: 0px;
  margin-right:  0px;
  border:        none;
}

form fieldset {
  clear:         both;
  border-color:  #99BBE8;
  border-width:  1px;
  border-style:  solid;
  padding:       10px;
  margin:        0;
}

form fieldset legend
{
  overflow:     hidden;
  color:        #15428b;
  font:         bold 100% 'Trebuchet MS';
  padding:      2px 1px 1px 2px;
  border:       1px solid #99bbe8;
  line-height:  15px;
}

#sr_form ul
{
  padding-left: 15px;
}

#sr_form table
{
  background:    #EEE; 
  border:        none;
  font:          100% 'Trebuchet MS';
  margin:          0;
  width:           100%;
}

/* pour un tableau imbriqué dans un fieldset */ 
#sr_form fieldset table
{
  border-spacing:  5px;
  width: auto;
}
.sr_form_table_legend_td
{
  width:           10px;
}
.sr_form_button
{
  font: bold 11px 'Trebuchet MS';
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}






/* tableau status */

#sr_table_status table
{
  border-spacing:  0px;
  font:            14px 'Trebuchet MS';
  margin-bottom:   0px;
  margin-left:     0px;
  margin-right:    0px;
  margin-top:      0px;
}
#sr_table_status td
{
  height:          30px;
  /* ecart entre le contenu de la cellule et le bord */
  padding-left:    5px;
  padding-right:   5px;
  text-align:      center;
}
/* couleur pour la table status et légende */
.sr_table_status_not_run
{
  background:      #A1B5BA;
}
.sr_table_status_passed
{
  background:      #00FF00;
}
.sr_table_status_failed
{
  background:      #FF0000;
}
.sr_table_status_blocked
{
  background:      #1ACAF6;
}
.sr_font_status_not_run
{
  color:      #A1B5BA;
}
.sr_font_status_passed
{
  color:      #00FF00;
}
.sr_font_status_failed
{
  color:      #FF0000;
}
.sr_font_status_blocked
{
  color:      #1ACAF6;
}






/* tableau percent */

#sr_table_percent
{
  font:            14px 'Trebuchet MS';
  margin:          0px;
  padding:         0px;
}
#sr_table_percent table
{
  border-spacing:  0px;
  font:            inherit;
  margin: auto;
}
#sr_table_percent td
{
  padding-bottom:  5px;
  padding-left:    0px;
  padding-right:   0px;
  padding-top:     5px;
  width:           8px;
}
.sr_table_percent_color_1
{
  background:      #00FF00;
}
.sr_table_percent_color_2
{
  background:      #FF0000;
}





/* tableau résultat */
.table_result
{
  font:            100% 'Trebuchet MS';
  color:           #000000;
  margin:          auto;
  border-collapse: collapse;
  border-top:      1px solid #99BBE8;
  border-left:     1px solid #99BBE8;
  border-right:    1px solid #99BBE8;
  border-bottom:   1px solid #99BBE8;
  padding:         5px 10px 5px 10px;
}
.table_result_td
{
  border-top:      1px solid #99BBE8;
  border-left:     1px solid #99BBE8;
  border-right:    1px solid #99BBE8;
  border-bottom:   1px solid #99BBE8;
  padding:         0px 2px 0px 2px;
}
/* pour la colonne status dans le tableau de résultat */
.table_result_td_status
{
  border-left:     none;
  border-right:    none;
  border-top:      1px solid #99BBE8;
  border-bottom:   1px solid #99BBE8;
  padding-right:   5px;
  padding-left:    5px;
}
.table_result_th
{
  border-top:      1px solid #99BBE8;
  border-left:     1px solid #99BBE8;
  border-right:    1px solid #99BBE8;
  border-bottom:   1px solid #99BBE8;
  font:          bold 100% 'Trebuchet MS';
  color:         #15428B;
  padding:       5px 10px 5px 10px;
}
