


/* 

CSS file

2017-03-24(Cyril SANTUNE): Cleaning and update on result table
2017-02-10(Cyril SANTUNE): Add new "li" class for the form
2017-01-12(Cyril SANTUNE): Change the color and remove useless Class
2015-10-12(Cyril SANTUNE): ajout des couleurs pour les status
2015-10-08(Cyril SANTUNE): ajout d'une partie css pour la page changelog
2015-06-18(Cyril SANTUNE): réindentation et mise à jour pour la colonne status
du tableau résultat
2015-06-19(Cyril SANTUNE): ajout d'un item pour les listes ul
2015-06-16(Cyril SANTUNE): création

*/



body {
  background:    #EEE; 
  font-family:   'Trebuchet MS', Arial;
  font-size:     14px;
  margin:        0px;
  padding:       0px;
}



/* form */
form {
  margin:        0;
  padding:       0;
  text-align:    left;
  margin:        3px;
  padding:       3px 3px 50px 3px;
  border-style:  groove;
  border-width:  thin;
  background:    #EEE;
  margin-bottom: 0px;
  margin-right:  0px;
  border:        none;
}
form fieldset {
  clear:         both;
  border-color:  #99BBE8;
  border-width:  1px;
  border-style:  solid;
  padding:       10px;
  margin:        0;
}
form fieldset legend {
  overflow:     hidden;
  color:        #15428b;
  font:         bold 100% 'Trebuchet MS';
  padding:      2px 1px 1px 2px;
  border:       1px solid #99bbe8;
  line-height:  15px;
}
#sr_form ul {
  padding-left: 15px;
}
#sr_form table {
  background:    #EEE; 
  border:        none;
  font:          100% 'Trebuchet MS';
  margin:        0;
  width:         100%;
}
#sr_form fieldset table
{
  border-spacing:  5px;
  width: auto;
}
.sr_form_table_legend_td {
  width:           10px;
}
.sr_form_button {
  font: bold 12px 'Trebuchet MS';
  text-decoration: none;
  background-color: #FFFFFF;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.checkbox_grid li {
	display: inline-block;
	white-space: nowrap;
	width: 20%;
}



/* result table*/
#table_result, #table_result th, #table_result td {
  border-bottom:   1px solid #99BBE8;
  border-collapse: collapse;
  border-left:     1px solid #99BBE8;
  border-right:    1px solid #99BBE8;
  border-top:      1px solid #99BBE8;
  color:           #000000;
  font:            100% 'Trebuchet MS';
  margin:          auto;
  padding:         5px 10px 5px 10px;
}
#table_result th {
  color:           #15428B;
  font:            bold 100% 'Trebuchet MS';
}
#table_result td {
  padding:         0px 2px 0px 2px;
}
#table_result .pie_chart {
  padding:         2px 5px 2px 10px;
}
/* percent table */
#sr_table_percent
{
  font:            inherit;
  margin:          0px;
  padding:         0px;
  border-spacing:  0px;
  margin: auto;
  border: none;
}
#sr_table_percent td
{
  border: none;
  padding-bottom:  5px;
  padding-left:    0px;
  padding-right:   0px;
  padding-top:     5px;
  width:           8px;
}
.sr_table_status_not_run {
  background:      #D0D0D0;
  text-align:      center;
}
.sr_table_status_passed {
  background:      #C6EFCF;
  text-align:      center;
}
.sr_table_status_failed {
  background:      #FFC7CF;
  text-align:      center;
}
.sr_table_status_blocked {
  background:      #9BC2E7;
  text-align:      center;
}
